body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #272727; */
  /* background-color: #363738 !important; */
  background-color: white !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  color: unset !important;
}

span {
  color: black !important; 
  color: unset !important;
  /* background-color: #ff6800 !important; */

}

p {
  color: black !important; 
  color: unset !important;
}

a {
  text-decoration: none;
  color: unset !important;
  color: black !important; 
}

.add-edit-page form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.products-list {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  margin-top: 50px;
  column-gap: 25px;
}

.product-card-image {
  object-fit: contain !important;
}

.product-card-description {
  height: 42px;
  overflow: hidden;
}

.filters-block {
  display: grid;
  grid-template-columns: 250px 200px 200px 150px;
  column-gap: 25px;
  align-items: center;
  /* background-color: #272727; */
  background-color: #e0ddd7;
}

.filters-block button {
  margin-top: 20px;
}

.my-pagination {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  /* color: white; */
  color: black;
}

.product-details {
  display: flex;
  margin-top: 50px;
}

.product-details img {
  width: 40%;
  height: 500px;
  object-fit: contain;
}

.product-details > div {
  width: 60%;
}

.product-details li {
  margin: 5px;
  font-size: 20px;
}

.product-details li strong {
  width: 120px;
  display: inline-block;
}

.product-details h2 {
  font-size: 40px;
  margin-top: 0;
  margin-left: 20px;
}

.product-details-feedback h3 {
  font-size: 24px;
  text-align: center;
}

.product-details-feedback form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.product-details-feedback > div {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
}

.feedback {
  background-color: rgb(214, 214, 214);
  border-radius: 10px;
  padding: 10px;
  margin: 15px 0;
}

.feedback h5 {
  font-size: 20px;
  margin: 0;
}

/* .carls {
  height: auto;
  width: 100%;
} */

.carousel ul {
  display: none;
}

.carousel {
  /* height: 200px !important; */
  display: flex;
  bottom: 0%;
  top: 30px;
}

.thumbs-wrapper axis-vertical {
  display: none;
}

.carousel-inner img {
  height: 100% !important;
  width: 100% !important;
  margin: 0 auto;
}
.carousel-indicators li {
  border-color: #000;
}
.carousel-indicators .active {
  background-color: #000;
}

.filters-block label {
  color: black
}

.add-edit-page {
  color: black;
}

.add-edit-page label {
  color: black !important; 
}

.edit-btn {
  color: black !important
}

.reset-btn {
  color: white !important
}

.card-form {
  display: flex;
  margin-top: 15px;
}

.card-form input {
  padding: 10px;
  border-radius: 10px;
  margin: 15px;
}

.singup-btn {
  color: white !important;
}

.card-form button {
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: gray;
  color: white !important; 
}

h2 {
  color: black;
}

.css-to4x1n-MuiBadge-badge {
  background-color: #ff6800 !important;
}

.css-1wxstni-MuiSvgIcon-root {
  color: #ff6800 !important;
}

.css-meo8sc-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: #ff6800 !important;
}